<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="DefaultBLServices" value="SalonProject.BL.ServicesDAL, SalonProject"/>
		<add key ="DefaultBLAppointment" value="SalonProject.BL.AppointmentDAL, SalonProject"/>
		<add key ="DefaultBLUser" value="SalonProject.BL.UserDAL, SalonProject"/>
	</appSettings>
</configuration>